%section

%article
  %h1
    article Heading 1
    %em 
      emphasized
  %h2 
    article Heading 2
    %em 
      emphasized
  %h3 
    article Heading 3
    %em 
      emphasized
  %h4 
    article Heading 4
    %em 
      emphasized
  %h5 
    article Heading 5
    %em 
      emphasized
  %h6 
    article Heading 6
    %em 
      emphasized
  %p 
    article paragraph
    %em 
      emphasized
    %strong
      strong

%article
  %form
    %label label: 
    %input


